[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pathos = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
